.authentication,
.login,
.register {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 80vh;
    flex-direction: column;
}

input{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7px;
    width: 270px;
    height: 42px;
    font-size: 17px;
    padding-left: 7px;
    border-radius: 5px;
    border: 2px solid lightgrey;
    cursor: auto;
}

.btn_regis2 {
    margin-top: 7px;
    width: 280px;
    height: 42px;
    font-size: 17px;
    padding-left: 7px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: rgb(9, 134, 212);
    color: white;
}

.btn_login,
.btn_regis1 {
    margin: 10px;
    width: 280px;
    height: 42px;
    font-size: 17px;
    padding-left: 7px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: rgb(9, 134, 212);
    color: white;
    margin: 7px;
}

.btn_logout {
    margin: 10px;
    width: 280px;
    height: 42px;
    font-size: 17px;
    padding-left: 7px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: rgb(9, 134, 212);
    color: white;
}